<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Elements MainTests">
    <test verbose="2" preserve-order="true" name="/Users/sl0822/Documents/Capstone Project">
        <classes>
            <class name="MainTests"/>
        </classes>
    </test>
</suite>